textarea {
    color: white;
    background: rgba(8, 8, 10, 0.55);
    width: 100%;
    height: 100%;
}

h3 {
    text-align: center;
}

.max-height {
    height: 79%;
}

.Body {
    color: white;
    height: 100%;
}

.calculate-button {
    width: 100%;
}

.calculate-col {
    position: relative;
    height: 80%;
}

.positive-change {
    color: red;
}

.negative-change {
    color: green;
}

.padding-left {
    padding-left: calc(var(--bs-gutter-x) * .5);
}

::ng-deep .mat-divider {
    border-color: white;
}

.selector {
    .mat-input-element::placeholder{
        color: rgba(255, 255, 255, 0.486);
     }
     
    ::ng-deep .mat-form-field-label {
        color: white;
    }

    color: white;
    width: 100%;
}

::ng-deep .mat-form-field-ripple{
    background-color: white !important;
}

.select-alliance {
    ::ng-deep .mat-select-value-text {
        color: #004e99;
    }
}

.select-horde {
    ::ng-deep .mat-select-value-text {
        color: #8c1616;
    }
}

::ng-deep .mat-checkbox-background {
    background-color: #673ab7 !important;
}