<div class="Body container">
  <div class="row">
    <h3>Welcome to the multi action house item search!</h3>
  </div>
  <div class="row max-height">
    <div class="col-sm-5">
      <textarea matInput [(ngModel)]="itemList" [placeholder]="placeHolderText"></textarea>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-2">
          Item
        </div>
        <div class="col-sm-3">
          Current Market Price
        </div>
        <div class="col-sm-4">
          Market Price 7 days ago
        </div>
        <div class="col-sm-3">
          Change in Price
        </div>
        <mat-divider></mat-divider>
      </div>
      <div *ngFor="let item of resultList">
        <div *ngIf="item?.name" class="row">
          <div class="col-sm-2">
            {{item?.quantity}}x {{item?.name}}
          </div>
          <div class="col-sm-3">
            <div *ngIf="item.data[0].marketValue.toString().length >= 5">
              {{item.data[0].marketValue.toString().substring(0,item.data[0].marketValue.toString().length-4)}}G
              {{item.data[0].marketValue.toString().substring(item.data[0].marketValue.toString().length-4,item.data[0].marketValue.toString().length-2)}}S
              {{item.data[0].marketValue.toString().substring(item.data[0].marketValue.toString().length-2,item.data[0].marketValue.toString().length)}}C
            </div>
            <div
              *ngIf="item.data[0].marketValue.toString().length >= 3 && item.data[0].marketValue.toString().length < 5">
              {{item.data[0].marketValue.toString().substring(item.data[0].marketValue.toString().length-4,item.data[0].marketValue.toString().length-2)}}S
              {{item.data[0].marketValue.toString().substring(item.data[0].marketValue.toString().length-2,item.data[0].marketValue.toString().length)}}C
            </div>
            <div *ngIf="item.data[0].marketValue.toString().length <= 2">
              {{item.data[0].marketValue.toString().substring(item.data[0].marketValue.toString().length-2,item.data[0].marketValue.toString().length)}}C
            </div>
            <div *ngIf="item.data[0].originalMarkValue.toString().length >= 5">
              ({{item.data[0].originalMarkValue.toString().substring(0,item.data[0].originalMarkValue.toString().length-4)}}G
              {{item.data[0].originalMarkValue.toString().substring(item.data[0].originalMarkValue.toString().length-4,item.data[0].originalMarkValue.toString().length-2)}}S
              {{item.data[0].originalMarkValue.toString().substring(item.data[0].originalMarkValue.toString().length-2,item.data[0].originalMarkValue.toString().length)}}C)
            </div>
            <div
              *ngIf="item.data[0].originalMarkValue.toString().length >= 3 && item.data[0].originalMarkValue.toString().length < 5">
              ({{item.data[0].originalMarkValue.toString().substring(item.data[0].originalMarkValue.toString().length-4,item.data[0].originalMarkValue.toString().length-2)}}S
              {{item.data[0].originalMarkValue.toString().substring(item.data[0].originalMarkValue.toString().length-2,item.data[0].originalMarkValue.toString().length)}}C)
            </div>
            <div *ngIf="item.data[0].originalMarkValue.toString().length <= 2">
              ({{item.data[0].originalMarkValue.toString().substring(item.data[0].originalMarkValue.toString().length-2,item.data[0].originalMarkValue.toString().length)}}C)
            </div>
          </div>
          <div class="col-sm-4">
            <div *ngIf="item.data[item.data.length-1].marketValue.toString().length >= 5">
              {{item.data[item.data.length-1].marketValue.toString().substring(0,item.data[item.data.length-1].marketValue.toString().length-4)}}G
              {{item.data[item.data.length-1].marketValue.toString().substring(item.data[item.data.length-1].marketValue.toString().length-4,item.data[item.data.length-1].marketValue.toString().length-2)}}S
              {{item.data[item.data.length-1].marketValue.toString().substring(item.data[item.data.length-1].marketValue.toString().length-2,item.data[item.data.length-1].marketValue.toString().length)}}C
            </div>
            <div
              *ngIf="item.data[item.data.length-1].marketValue.toString().length >= 3 && item.data[item.data.length-1].marketValue.toString().length < 5">
              {{item.data[item.data.length-1].marketValue.toString().substring(item.data[item.data.length-1].marketValue.toString().length-4,item.data[item.data.length-1].marketValue.toString().length-2)}}S
              {{item.data[item.data.length-1].marketValue.toString().substring(item.data[item.data.length-1].marketValue.toString().length-2,item.data[item.data.length-1].marketValue.toString().length)}}C
            </div>
            <div *ngIf="item.data[item.data.length-1].marketValue.toString().length <= 2">
              {{item.data[item.data.length-1].marketValue.toString().substring(item.data[item.data.length-1].marketValue.toString().length-2,item.data[item.data.length-1].marketValue.toString().length)}}C
            </div>
            <div *ngIf="item.data[item.data.length-1].originalMarkValue.toString().length >= 5">
              ({{item.data[item.data.length-1].originalMarkValue.toString().substring(0,item.data[item.data.length-1].originalMarkValue.toString().length-4)}}G
              {{item.data[item.data.length-1].originalMarkValue.toString().substring(item.data[item.data.length-1].originalMarkValue.toString().length-4,item.data[item.data.length-1].originalMarkValue.toString().length-2)}}S
              {{item.data[item.data.length-1].originalMarkValue.toString().substring(item.data[item.data.length-1].originalMarkValue.toString().length-2,item.data[item.data.length-1].originalMarkValue.toString().length)}}C)
            </div>
            <div
              *ngIf="item.data[item.data.length-1].originalMarkValue.toString().length >= 3 && item.data[item.data.length-1].originalMarkValue.toString().length < 5">
              ({{item.data[item.data.length-1].originalMarkValue.toString().substring(item.data[item.data.length-1].originalMarkValue.toString().length-4,item.data[item.data.length-1].originalMarkValue.toString().length-2)}}S
              {{item.data[item.data.length-1].originalMarkValue.toString().substring(item.data[item.data.length-1].originalMarkValue.toString().length-2,item.data[item.data.length-1].originalMarkValue.toString().length)}}C)
            </div>
            <div *ngIf="item.data[item.data.length-1].originalMarkValue.toString().length <= 2">
              ({{item.data[item.data.length-1].originalMarkValue.toString().substring(item.data[item.data.length-1].originalMarkValue.toString().length-2,item.data[item.data.length-1].originalMarkValue.toString().length)}}C)
            </div>
          </div>
          <div class="col-sm-2">
            <div
              *ngIf="(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length >= 5"
              [class.positive-change]="(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString()[0] !== '-'"
              [class.negative-change]="(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString()[0] === '-'">
              <div class="row padding-left">
                {{(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').substring(0,(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length-4)}}G
                {{(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').substring((item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length-4,(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length-2)}}S
                {{(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').substring((item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length-2,(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length)}}C
              </div>
            </div>
            <div
              *ngIf="(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length >= 3 && (item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length < 5"
              [class.positive-change]="(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString()[0] !== '-'"
              [class.negative-change]="(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString()[0] === '-'">
              <div class="row padding-left">
                {{(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').substring((item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length-4,(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length-2)}}S
                {{(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').substring((item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length-2,(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length)}}C
              </div>
            </div>
            <div
              *ngIf="(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length <= 2"
              [class.positive-change]="(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString()[0] !== '-'"
              [class.negative-change]="(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString()[0] === '-'">
              <div class="row padding-left">
                {{(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').substring((item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length-2,(item.data[0].marketValue-item.data[item.data.length-1].marketValue).toString().replace('-','').length)}}C
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div class="row" *ngIf="activated">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3" *ngIf="totalCosts.toString().replace('-','').length >= 5">
          Total Price Currently:
          <div class="row padding-left">
            {{totalCosts.toString().substring(0,totalCosts.toString().length-4)}}G
            {{totalCosts.toString().substring(totalCosts.toString().length-4,totalCosts.toString().length-2)}}S
            {{totalCosts.toString().substring(totalCosts.toString().length-2,totalCosts.toString().length)}}C
          </div>
        </div>
        <div class="col-sm-3"
          *ngIf="totalCosts.toString().replace('-','').length >= 3 && totalCosts.toString().replace('-','').length < 5">
          Total Price Currently:
          <div class="row padding-left">
            {{totalCosts.toString().substring(totalCosts.toString().length-4,totalCosts.toString().length-2)}}S
            {{totalCosts.toString().substring(totalCosts.toString().length-2,totalCosts.toString().length)}}C
          </div>
        </div>
        <div class="col-sm-3" *ngIf="totalCosts.toString().replace('-','').length <= 2">
          Total Price Currently:
          <div class="row padding-left">
            {{totalCosts.toString().substring(totalCosts.toString().length-2,totalCosts.toString().length)}}C
          </div>
        </div>
        <div class="col-sm-4" *ngIf="totalLastWeek.toString().replace('-','').length >= 5">
          Total Price 7 days ago:
          <div class="row padding-left">
            {{totalLastWeek.toString().substring(0,totalLastWeek.toString().length-4)}}G
            {{totalLastWeek.toString().substring(totalLastWeek.toString().length-4,totalLastWeek.toString().length-2)}}S
            {{totalLastWeek.toString().substring(totalLastWeek.toString().length-2,totalLastWeek.toString().length)}}C
          </div>
        </div>
        <div class="col-sm-4"
          *ngIf="totalLastWeek.toString().replace('-','').length >= 3 && totalLastWeek.toString().replace('-','').length < 5">
          Total Price 7 days ago:
          <div class="row padding-left">
            {{totalLastWeek.toString().substring(totalLastWeek.toString().length-4,totalLastWeek.toString().length-2)}}S
            {{totalLastWeek.toString().substring(totalLastWeek.toString().length-2,totalLastWeek.toString().length)}}C
          </div>
        </div>
        <div class="col-sm-4" *ngIf="totalLastWeek.toString().replace('-','').length <= 2">
          Total Price 7 days ago:
          <div class="row padding-left">
            {{totalLastWeek.toString().substring(totalLastWeek.toString().length-2,totalLastWeek.toString().length)}}C
          </div>
        </div>
        <div class="col-sm-3" *ngIf="totalCostsChange.toString().replace('-','').length >= 5"
          [class.positive-change]="totalCostsChange.toString()[0] !== '-'"
          [class.negative-change]="totalCostsChange.toString()[0] === '-'">
          Change in Total Price:
          <div class="row padding-left">
            {{totalCostsChange.toString().substring(0,totalCostsChange.toString().length-4)}}G
            {{totalCostsChange.toString().substring(totalCostsChange.toString().length-4,totalCostsChange.toString().length-2)}}S
            {{totalCostsChange.toString().substring(totalCostsChange.toString().length-2,totalCostsChange.toString().length)}}C
          </div>
        </div>
        <div class="col-sm-3"
          *ngIf="totalCostsChange.toString().replace('-','').length >= 3 && totalCostsChange.toString().replace('-','').length < 5"
          [class.positive-change]="totalCostsChange.toString()[0] !== '-'"
          [class.negative-change]="totalCostsChange.toString()[0] === '-'">
          Change in Total Price:
          <div class="row padding-left">
            {{totalCostsChange.toString().substring(totalCostsChange.toString().length-4,totalCostsChange.toString().length-2)}}S
            {{totalCostsChange.toString().substring(totalCostsChange.toString().length-2,totalCostsChange.toString().length)}}C
          </div>
        </div>
        <div class="col-sm-3" *ngIf="totalCostsChange.toString().replace('-','').length <= 2"
          [class.positive-change]="totalCostsChange.toString()[0] !== '-'"
          [class.negative-change]="totalCostsChange.toString()[0] === '-'">
          Change in Total Price:
          <div class="row padding-left">
            {{totalCostsChange.toString().substring(totalCostsChange.toString().length-2,totalCostsChange.toString().length)}}C
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="col-sm-5" mat-raised-button color="primary"
      (click)="Calculate()">Search!</button>
  </div>
</div>